:root {
  /* color palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --sky-light-blue: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #eeba72;
  --light-purple: #9792e4;

  /* web site color palette */

  /* layout */
  --small-nav-bar: 10vh;
  --big-nav-bar: 12vh;
  --small-side-bar: 80px;
  --big-side-bar: 300px;
}

/* ** general */

/* * nav_bar */

#nav_bar {
  height: var(--big-nav-bar);
}

/* * main */

#main {
  height: calc(100vh - var(--big-nav-bar));
}

/* side_bar */

#side_bar {
  width: var(--small-side-bar);
}

/* * main_content */

#main > .main_content {
  width: calc(100% - var(--small-side-bar));
  overflow-y: auto;
}

/* header */

/* content */

#content {
  height: 100%;
}

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}
